influxdb3/chronograf_1.9.4_amd64.deb
astra/lib-monitor/http_server.lua
influxdb3/grafana-enterprise_12.2.1_18655849634_linux_amd64.deb
influxdb3/influxctl_v2.9.9_amd64.deb
influxdb3/influxdb3-core_3.6.0-1_amd64.deb
influxdb3/kapacitor_1.8.2-1_amd64.deb
influxdb3/telegraf_1.36.3-1_amd64.deb
